extends layout

block content
  main.container
    .hero
      h1 Welcome to FitShare
      p Find a workout buddy, track your fitness, and stay motivated.
      a.btn.btn-primary(href='/users') Browse Users